$primary: #0e384e ; // #1a1a1a;
$danger: #59202B;

// $input-bg: rgba(255, 255, 255, 0);
// $input-border-color: rgba(255, 255, 255, 0);
// $input-color: #ffffff;

// $input-group-addon-color: #ffffff;
// $input-group-addon-bg:rgba(255, 255, 255, 0);
// $input-group-addon-border-color:rgba(255, 255, 255, 0);

.cart .form-control {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    color: #ffffff;

  }

.cart .input-group-text {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    color: #ffffff; 
}

// .checkout .form-control {
//     background-color: #fff;
//     color: #212529;
//     border-color: #dee2e6;
//   }
