// Default body
body {
    width: 100%;
    margin: 0;
    background-color: #242424;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.87);
    transition: border-color 0.25s;
    display: flex; // Use flexbox for layout
    justify-content: center; // Center horizontally
    align-items: center; // Center vertically
    min-height: 100vh; // Ensure body takes full viewport height
    
}

// Default vite homepage
#root {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}
  
@keyframes logo-spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}
  
@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}  
.card-sample {
    padding: 2em;
    border: none;
}
  
.card-sample p {
    margin-top: 1em;
}
  
.read-the-docs {
    color: #888;
}


// Project-1
div.d-flex {
    justify-content: center; 
    align-items: center;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    margin: 1em auto;
}

.card {
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
    // border: grey;
    display: flex; // Use flexbox for layout
    justify-content: center; // Center horizontally
    align-items: center; // Center vertically
}

.btn {
    border-radius: 8px;
    border: 1px solid transparent;
    width: fit-content;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
}
.btn:hover {
    border-color: #646cff;
}
.btn:focus,
.btn:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

// Navbar
.navbar {
    background-color: #263238;
}

// Footer
.footer {
    background-color: #242424;
}



// Project-2
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

a {
    color: #3892c6;
}