body {
    width: 100%;
    margin: 0;
    background-color: #242424;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.87);
    transition: border-color 0.25s;
    display: flex; // Use flexbox for layout
    justify-content: center; // Center horizontally
    align-items: center; // Center vertically
    min-height: 100vh; // Ensure body takes full viewport height
    
}

#root {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

h1 {
    font-size: 2em;
    font-weight: bold;
}

.card {
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
    // border: grey;
    display: flex; // Use flexbox for layout
    justify-content: center; // Center horizontally
    align-items: center; // Center vertically
}

div.d-flex {
    justify-content: center; 
    align-items: center;
}

.btn {
    border-radius: 8px;
    border: 1px solid transparent;
    width: fit-content;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    
}
.btn:hover {
    border-color: #646cff;
}
.btn:focus,
.btn:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.footer {
    background-color: #242424;
}
