// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import 'bootstrap/scss/functions';

// 2. Define your variable overrides here to customize Bootstrap
@import './style/customize';

// 3. Import the rest of Bootstrap
@import './style/variables';
@import './style/variables-dark';
@import 'bootstrap/scss/bootstrap'; // loads Bootstrap's CSS style plugins only
@import 'bootstrap'; // loads Bootstrap's JavaScript plugins

// 4. Your custom styles
@import './style/loading';